body {
    margin: 0;
}
#principal {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}
#cabecalho {
    text-align: center;
    background-image: url(imagens/bg-body.jpg);
    background-repeat: repeat;
    height: 20vh;
    width: 100%;
    padding-top: 30px;
}
#menu {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
#menu ul {
    list-style-type: none;
}
#menu ul li {
    display: inline-block;
    width: 15%;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
#menu ul li:hover {
    background-image: url(Imagens/bg-menu-selected.jpg);
}
a {
    color: #fff;
    text-decoration: none;
}
#cima {
    width: 100%;
    height: 60vh;
    background-image: url(imagens/bg-content.jpg);
    background-repeat: repeat;
}
#baixo {
    width: 100%;
    height: 50vh;
    background-image: url(imagens/bg-body.jpg);
    background-repeat: repeat;
    position: relative;
}
#lado {
    background-image: url(Imagens/bg-aside.jpg);
    display: inline-block;
    float: right;
    width: 15%;
    height: 60%;
    top: 100px;
    right: 200px;
    position: absolute;
}
.caixinha {
    width: 23%;
    display: inline-block;
    float: left;
    margin-top: 20px;
    text-align: center;
}
.meio {
    margin-left: 0%;
    margin-right: 0%;
}
.esquerda {
    margin-left: 230px;
    margin-right: 0px;
}
.foto {
    border: 2px solid #fff;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Tahoma;
    color: #fff;
}
.quebra {
    clear: both;
}
#cabeca {
    width: auto;
    height: auto;
    margin-left: 230px;
    padding-top: 20px;
}
#texto {
    margin-left: 230px;
    margin-right: 450px;
}
h3 {
    font-family: Tahoma;
    color: #fff;
}
.textinho {
    text-align: justify;
    margin-bottom: 30px;
}
.link {
    color: #ff6f00;
}
#updates {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 15pt;
}
.redes {
    margin-left: 40px;
    margin-top: 80px;
}
.facebook {
    margin-left: 10px;
}
#rodape {
    float: right;
    margin-top: 20px;
    margin-right: 207px;
    font-size: 8pt;
}