*{
	margin: 0;
	padding: 0;
}
body {
	color: black;
}
#tudo {
	max-width: 19.5cm;
	max-height: 23.76cm;
	margin: 0 auto;
}
#cabecalho {
	width: 100%;
	height: 7vh;
}
#principal {
	width: 100%;
	height: 60vh;
}
#principal2 {
	width: 100%;
	height: 65vh;
}
#principal3 {
	width: 100%;
	height: 40vh;
}
#principal4 {
	width: 100%;
	height: 80vh;
}
#rodape {
	width: 100%;
	height: 10vh;
	text-align: center;
	clear: both;
}
.foto {
	width: 100%;	
}
.caixinha {
	width: 30%;
	display: inline-block;
	float: left;
}
.meio {
	margin-right: 5%;
	margin-left: 5%;
}
.italico {
	font-style: italic;
	font-size: 18pt;
}
h1 {
	font-size: 18pt;	
}
.link {
	font-size: 14pt;	
}
.caixola {
	width: 45%;
	margin-top: 20px;
	display: inline-block;
}
.paragrafo {
	width: 45%;
	margin-top: 40px;
	float: right;
	margin-right: 8%;
}
p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.voltar {
	float: right;
	font-weight: bold;
}
h2 {
	font-size: 14pt;
	margin-top: 20px;
	margin-bottom: 30px;
}
.video {
	margin-top: 50px;	
}
hr{
	margin-bottom: 15px;	
}